<!DOCTYPE html>
<html>
  <title>
  </title>
  <body>
  <div class="footer">
      <div>
          <!-- social icons by http://simpleicons.org/ -->
          <a href="https://github.com/alexdao"><img src="/images/social/github.svg" alt="Github"></a>
          <a href="http://www.linkedin.com/profile/view?id=127723198"><img src="/images/social/linkedin.svg" alt="LinkedIn"></a>
          <a href="http://stackoverflow.com/users/3750500/adao7000"><img src="/images/social/stackoverflow.svg" alt="StackOverflow"></a>
          <a href="https://www.facebook.com/alex.dao"><img src="/images/social/facebook.svg" alt="Facebook"></a>
          <a href="https://www.instagram.com/adao7000/"><img src="/images/social/instagram.svg" alt="Instagram"></a>
          <a href="mailto:alex@alexdao.me"><img src="/images/social/email.svg" alt="Email"></a>
          <a href="https://medium.com/@alex.dao"><img src="/images/social/medium.svg" alt="Medium"></a>
      </div>
      <p class="text-muted">&copy; Alex Dao, 2017. All rights reserved.</p>
  </div>
  </body>
</html>
